* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: gray;
    background-image: url(../img/converse.webp);
    background-size: cover;
    margin-bottom: 0;
    height: 55vh;
}

.gotoBottom {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: beige;
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 0%;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
}

.gotoBottom:hover{
    background-color: rgb(255, 255, 0);
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    height: 65%;
    align-items: center;
}

.tituloPrincipal {
    font-size: 10rem;
    color: rgb(225, 225, 202);
    font-family: 'Lobster', cursive;
    backdrop-filter: blur(1px);
}

.barraNav a{
    padding: 2px;
}

.barraNav ul li {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
}

.barraNav ul li a:hover{
    background-color: black;
    color: beige;
}

.barraNav {
    display: flex;
    padding: 7px;
    justify-content: flex-end;
}

.barraNav ul {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: beige;
}

.fondoBarra {
    background-color: rgb(137, 19, 15);
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.itemsBarra {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.itemsBarra li {
    padding: 5px;
}

.itemsBarra li select{
    width: 85px;
    background-color: beige;
    border: 1px solid black;
    padding: 2px;
}

.btnCarrito {
    width: 40px;
    height: 40px;
    background-image: url(../img/carrito.png);
    background-size: cover;
    border-radius: 100%;
    background-size: 28px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.btnBuscar {
    justify-self: end;
    width: 70%;
    background-color: beige;
    border: 1px solid black;
    padding: 2px;
}

.btnBuscar:focus {
    outline: solid 2px rgb(0, 0, 0);
}

.videosAsmr {
    display: flex;
    position: relative;
    background-color: rgb(40, 40, 40);
    gap: 1px;
}

.videosAsmr iframe{
    width: 33.3%;
    height: 100%;
}

.todosProductos {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 50px 0px;
    flex-wrap: wrap;
}

.productos{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
    color: beige;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
}

.productos:hover{
    background-color: yellow;
    color: black;
    padding: 2px;
    padding-bottom: 0px;
}

.todosProductos button{
    border: 0px;
    width: 370px;
    height: 370px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.todosProductos span {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.af1 {
    background-image: url(../img/af1.webp);
}

.blz {
    background-image: url(../img/blazers.webp);
}

.fl {
    background-image: url(../img/forum.webp);
}

.nb550 {
    background-image: url(../img/newbalance.webp);
}

@media (max-width:1200px) {
    .todosProductos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .todosProductos button {
        width: 350px;
        height: 350px;
    }
}

@media (max-width:768px) {
    .todosProductos{
        display: flex;
        flex-direction: column;
    }

    .todosProductos button {
        width: 300px;
        height: 300px;
    }

    .tituloPrincipal{
        font-size: 4.5rem;
    }
}

footer {
    background-color: rgb(38, 38, 38);
    color: beige;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}

footer h2 {
    display: inline-block;
    padding: 10px;
    font-size: 28px;
}

footer p {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
}

.gotoTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: beige;
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 0%;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    border-top: solid 0.5px rgb(20, 20, 20);
}

.gotoTop:hover{
    background-color: yellow;
    color: black;
}

footer div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.btnW button {
    border: 1px solid white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../img/wpp.jfif);
    background-size: 115px;
    background-position-x: center;
    background-position-y: center;
}

.btnI button {
    border: 1px solid white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../img/instagram.webp);
    background-size: 50px;
    background-position-x: center;
    background-position-y: center;
}

.btnF button {
    border: 1px solid white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../img/facebook.jpg);
    background-size: 115px;
    background-position-x: center;
    background-position-y: center;
}

.btnT button {
    border: 1px solid white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../img/telegram.jpg);
    background-size: 60px;
    background-position-x: center;
    background-position-y: center;
}

.fondoContact{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: beige;
    padding: 30px;
}

.bloqueContact{
    background-color: rgb(40, 40, 40);
    padding: 10px 20px 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.bloqueContact h2{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding-bottom: 6px;
}

.bloqueContact ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bloqueContact ul li{
    display: block;
    width: 100%;
}

.bloqueContact ul li input{
    display: block;
    width: 100%;
    height: 30px;
    border: solid 2px rgb(255, 255, 255);
    background-color: beige;

}

.bloqueContact ul li input:focus {
    outline: solid 2px rgb(0, 0, 0);
}

#textarea{
    width: 100%;
    background-color: beige;
}

#textarea:focus {
    outline: solid 2px rgb(0, 0, 0);
}

.bloqueContact .enviar input{
    background-color: green;
    border: 0px;
    color: beige;
}

.fondoT{
    background-color: black;
    color: beige;
    text-align: center;
}

.equipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    padding-bottom: 30px ;
}

.bloqueT{
    padding: 20px;
}

.bloqueT h2{
    padding: 6px;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.bloqueT p{
    padding: 6px;
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
}

.equipo img{
    padding: 30px 30px;
    width: 500px;
    height: 500px;
}

@media (max-width: 968px){
    .equipo img{
        padding: 30px 30px;
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 565px){
    .equipo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.equipo span{
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
}

.fondoS{
    background-color: rgb(0, 0, 0);
    color: beige;
    text-align: center;
    padding: 30px 450px;
}

.bloqueS{
    display: inline-block;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    width: 450px;
}

.bloqueS h2{
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.bloqueS ul li{
    display: block;
    width: 100%;
}
.bloqueS ul li input{
display: block;
width: 100%;
height: 30px;
}

#Name{
    display: inline-block;
    width: 89%;
}

#LastName{
    display: inline-block;
    width: 82%;
}

.fondoL{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: beige;
    text-align: center;
    padding: 40px;
}

.bloqueL{
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(40, 40, 40);
    padding: 0px 20px 20px;
    width: 500px;
}

.bloqueL h2{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    padding: 5px;
}

.bloqueL ul li{
    display: block;
    width: 100%;
    padding: 5px;
}

.bloqueL ul li input{
    display: block;
    width: 100%;
    height: 25px;
}

.bloqueL ul li button{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px;
    border-radius: 2%;
}

.btnLogin{
    background-color: green;
    color: beige;
}

.btnLogin a{
    color: beige;
}