header{
    background-color: $color-secundario;
    background-image: url(../img/converse.webp);
    background-size: cover;
    margin-bottom: 0;
    height: 55vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 65%;
    align-items: center;

    &_tituloP{
        font-size: 10rem;
        color: $color-secundario;
        font-family: 'Lobster', cursive;
        backdrop-filter: blur(1px);
    }
}

.fondoBarra{
    background-color: $color-primario;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;

    &_items{
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

.videosAsmr{
    display: flex;
    position: relative;
    background-color: rgb(40, 40, 40);
    gap: 1px;

    iframe{
        width: 33.3%;
        height: 100%;
    }
}

footer{
    background-color: rgb(38, 38, 38);
    color: $color-secundario;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: lighter;

    h2{
        display: inline-block;
        padding: 10px;
        font-size: 28px;
    }

    p{
        text-align: center;
        padding-bottom: 10px;
        font-family: 'Bebas Neue', cursive;
    }

    div{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}