header{
    a{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        color: $color-secundario;
        height: 35px;
        border: none;
        margin-top: 0%;
        font-size: 15px;
        font-family: 'Bebas Neue', cursive;
        background-color: $color-terciario;

        &:hover{
            background-color: rgb(255, 255, 0);
            color: $color-terciario;
        }
    }
}
.fondoBarra{
    &_item{
        padding: 5px;

        button{
            width: 40px;
            height: 40px;
            background-image: url(../img/carrito.png);
            background-size: cover;
            border-radius: 100%;
            background-size: 28px;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            border: 1px solid $color-terciario;
        }

        select{
            width: 85px;
            background-color: $color-secundario;
            border: 1px solid $color-terciario;
            padding: 2px;
        }
    }

    &_buscar{
        justify-self: end;
        width: 70%;
        background-color: $color-secundario;
        border: 1px solid $color-terciario;
        padding: 2px;

        &:focus{
            outline: solid 2px $color-terciario;
        }
    }
}

.todosProductos{
    button{
        border: 0px;
        width: 370px;
        height: 370px;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &_af1 {
        background-image: url(../img/af1.webp);
    }
    
    &_blz {
        background-image: url(../img/blazers.webp);
    }
    
    &_fl {
        background-image: url(../img/forum.webp);
    }
    
    &_nb550 {
        background-image: url(../img/newbalance.webp);
    }
}

footer{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-terciario;
        color: $color-secundario;
        width: 100%;
        height: 35px;
        border: none;
        margin-top: 0%;
        font-size: 15px;
        font-family: 'Bebas Neue', cursive;
        border-top: solid 0.5px rgb(20, 20, 20);

        &:hover{
            background-color: yellow;
            color: $color-terciario;
        }
    }
}

.sites{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;

    button{
        border: 1px solid white;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-position-x: center;
        background-position-y: center;
    }

    &_btW{
        background-image: url(../img/wpp.jfif);
        background-size: 115px;
    }

    &_btnI{
        background-image: url(../img/instagram.webp);
        background-size: 50px;
    }

    &_btnF{
        background-image: url(../img/facebook.jpg);
        background-size: 115px;
    }

    &_btnT{
        background-image: url(../img/telegram.jpg);
        background-size: 60px;
    }

}